/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  .cf:before,
  .cf:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }
  
  .cf:after {
      clear: both;
  }
  
  main{
    width: 100%;
    margin: 20px auto;
    border: 1px solid #000;
    background-image:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/7248/grid-1.png");
  }
  
  header.primary, footer.primary{
    width:97.5%;
    background: rgba(0, 0, 0, 0.4);
    margin:1.25%;
    padding:20px;
    float:left;
  }
  
  #blog{
    background: rgba(0, 0, 0, 0.6);
    width: 58%;
    margin-left:1.25%;
    padding:20px;
    float:left;
  }
  
  aside{
    background: rgba(0, 0, 0, 0.3);
    width: 38.25%;
    margin-left:1.25%;
    padding:20px;
    float:left;
  }